<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://java.sun.com/xml/ns/javaee" 
		 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
		 					 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		 id="WebApp_ID" 
		 version="2.5">
		 
  <display-name>auth</display-name>
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>indexjsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <display-name>   LDAPAuthenticate   </display-name>
    <servlet-name>   LDAPAuthenticate   </servlet-name>
    <servlet-class>  ldap.LDAPAuthenticate   </servlet-class>
  </servlet>
  
</web-app>