<?xml version="1.0" encoding="utf-8"?>

<config>
	<system>
		<timeout>10</timeout>
	</system>
	
	<ldap>
		<url>ldap://dssy.senecac.on.ca/</url>
		<security-authentication>none</security-authentication>
		<o>sene.ca</o>
	</ldap>
	
	<ldapfields>
		<user_id>uid</user_id>
		<user_fullname>cn</user_fullname>
		<user_role>ou</user_role>
		<user_title>title</user_title>
	</ldapfields>
	
	<access_levels>
		<level>
			<value>10</value>
			<position>
				<role_name>Student</role_name>
				<title>All</title>
			</position>
		</level>
		
		<level>
			<value>20</value>
			<position>
				<role_name>Employee</role_name>
				<title>All</title>
			</position>
		</level>
		
		<level>
			<value>30</value>
			<position>
				<role_name>Employee</role_name>
				<title>Support Staff</title>
				<title>Professor</title>
			</position>
		</level>
		
		<whitelist>
			<username>chad.pilkey</username>
		</whitelist>
	</access_levels>
	
	<courseList>
		<course>OOP344</course>
		<course>ULI101</course>
		<course>INT422</course>
		<course>EAC150</course>
		<course>OOP244</course>
	</courseList>
</config>
